
$baseColor: #303f4f;
$pointColor: #da4d73;

$fontColor: #33475b;

$subColor: #fafafa;
$lineColor: #e7e7e7;

@mixin clearfix {
  content:'';
  clear:both;
  display:block;
}

@mixin hide {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

@mixin inputhide{
    position: absolute !important;
   width: 1px !important;
   height: 1px !important;
   margin: -1px !important;
   padding: 0 !important;
   overflow: hidden !important;
   clip: rect(0, 0, 0, 0) !important;
   border: 0 !important;
}

@mixin focus{
    border-color: rgba(48,63,79,.4);
    box-shadow: 0 0 4px 1px rgba(48,63,79,.2), 0 0 0 1px $lineColor;
    outline: 0;

}


@mixin labelFont{
    font-size: 11px;
    font-weight:600;
    vertical-align:middle;
    color:#33475b;
    line-height:30px;
}

@mixin systemFont{
    font-size: 11px;
    color:#999;
}
