::selection {color:$rec-secondaryColor}
:-ms-selection {color: $rec-secondaryColor;}
::-moz-selection {color: $rec-secondaryColor;}
::-webkit-input-placeholder {color: $rec-lineColor; }
:-ms-input-placeholder {color: $rec-lineColor; }
::-moz-placeholder {color: $rec-lineColor; }
::-webkit-scrollbar {
    display: none;
}
.smoothScroll{
     transition: transform 1000ms ease-out;
     background: #fff;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

em{
    color: $rec-secondaryColor;
}
// event
html{
    color: $rec-textPrimaryColor;
    font-family:'geomanistregular', sans-serif;
    font-size: 15px;
    font-weight:300;
    line-height: 1.4;
	letter-spacing:1px;
    -webkit-font-smoothing: antialiased;
    overflow: scroll;
    overflow-x: hidden;

}
