// base frame
html,body,#contents,.wrapper{
    height:100%;

}
#contents{
    position: relative;
    left: 0;
    transition: left .2s;
    &.on{
        transition: left .6s;
        left: 70%;
    }
}
.container{
    padding-top: 200px;
    &.normal{
        padding-top:12%;
        padding-bottom:12%;
    }
}
.contents{
    &.padding{
        padding:5%;
    }
    &.color{
        background: #f1f1f1;
    }
}
.content-page{
    padding-left: 12%;
    padding-right: 12%;
    max-width: 2120px;
}
// horizontal Vertical center layout
.layout-table {
    padding:0!important;
    width:100%;
    height:100%;
    display:table;
}
.layout-table-cell{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.filter-box{
    padding:10px;
}
// column layout
.row{
    overflow:hidden;
    display: grid;
    width: 100%;
    .column{
        grid-auto-rows: minmax(100px, auto);
    }
    &.forms{
        .column{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    &.col-2{
        grid-template-columns: repeat(2, 1fr);
    }
    &.col-3{
        grid-template-columns: repeat(3, 1fr);
    }
    &.col-4{
        grid-template-columns: repeat(4, 1fr);
    }
    &.col-3div1{
        grid-template-columns: 400px repeat(1, 1fr);
    }
    &.col-1div3{
        grid-template-columns: repeat(1, 1fr) 400px;
    }
    &.right{
        text-align: right;
    }
    &.left{
        text-align: left;
    }
    &.center{
        text-align: center;
    }

}
.article{
    display:block;
    margin: 0 0 30px 0;
    padding:12px;
    background:$rec-whiteColor;
    transition:all 220ms;

    &:hover{
        transform : translateY(-5px);
        transition:all 220ms;
    }
}
.box-align{
    margin:4% 0;
    &.center{
        text-align:center;
    }
    &.left{
        text-align:left;
    }
    &.right{
        text-align:right;
    }
    >*{
        display:inline-block;
    }
}


// main
html{
    &.main{
        height: inherit;
        body,#contents,.wrapper{
            height:inherit;
        }
        .contents{
            background:#fff;
        }
    }
    &.ov-hidden{
        overflow: hidden;
    }
    &.black{
        background:#24292e;
        .title-box{
            h2{
                color:#fff;
            }
        }
        .seets{
            a{
                color:#fff;
                font-weight:400;
            }
        }
        .btnico{
            &.back{
                &:before{
                    background: url(../images/icon/back_w.svg);
                    opacity:1;
                }
            }
            &.left{

                &:before{
                    background: url(../images/icon/left_w.svg);
                    opacity:1;
                }
            }
        }

    }
}

main{
    .main-component{
        width: 100%;
        height: 100%;
        display:table;
        position: relative;
        .scrollDown{
            position: absolute;
            bottom:80px;
            background:#fff;
            border-radius: 50%;
            width:50px;
            height:50px;
            margin: auto;
            left: 0;
            right: 0;
        }
        >.main-component-inner{
            display: table-cell;
            vertical-align: middle;
            width: 100%;
            .main-video{
                border-radius: 0;
                padding: 0;
                border: 0;
            }
            .togglePaly{
                display: none;
                width: 100px;
                height: 100px;
                opacity: 0.5;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                &:focus{
                    box-shadow:none;
                }
                &.active{
                    &:before{
                        background:url('../images/play.svg')!important;
                    }
                }
                &:before{
                    background:url('../images/btn-pause.svg')!important;
                    width:60px;
                    height:60px;
                }
            }
            &:hover{
                .togglePaly{
                    opacity: 1;
                }
                filter: none;
                &:before{
                    content: none;
                }
            }

        }
        .main-article{
            text-align:center;
            .main-img{
                width: 200px;
            }
            .main-text{
                margin:auto;
                font-size: 3.5rem;
                font-weight: 400;
                transition: all .4s;
                line-height:1.3;
                letter-spacing: 1.5px;
                color: #fff;
                margin-top: 1%;
            }
        }
        .main-video{
            background: #24292e;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            video{
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: cover;
                opacity:.1;
            }
            &:before{
                content: '';
                display: block;
                // background: #24292e;
                background:radial-gradient(#303f4f, #24292e);
                opacity: .85;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
            }
        }
    }

}
.timeline-nav{
    background: #fff;
}
.timeline-title{
    h2{
        // font-size: 1.5rem;
        // font-weight: 300;
    }
    text-align:center;
    padding: 30px 0 0!important;
    background: #fff;

    // background:$rec-whiteColor;
    &+.contents{
        .content-page{
            border-bottom: 1px solid $rec-lineColor;
        }
    }

}
.schedule-filter{
    padding-top: 20px;
    &-option{
        display: none;
        padding: 30px 0;
        text-align: center;
        ul{
            display: inline-block;
            li{
                display: inline-block;
                &+li{
                    margin-left: 20px;
                }
                .like-select{
                    border: 1px solid $rec-lineColor;
                    border-radius: 50px;
                    font-size: 0.825rem;
                    padding: 8px 20px 10px;
                    &.on{
                        border-color: $rec-secondaryColor;
                        // border-width: 2px;
                        background-color: $rec-secondaryColor;
                        color: #fff;
                    }
                }
                input{
                    border: 1px solid $rec-lineColor;
                    border-radius: 50px;
                }
            }
        }
    }
    &-search{
        height:60px;
        line-height:60px;
        position:relative;
        input{
            position:absolute;
            right:0;
            border-radius:50px;
            width:100%;
            height:100%;
            font-size:1.25rem;
            color:#333;
            background-color: #fafafa;
            border: none;
            padding: 0 0 0 30px;

        }
        select{
            float: left;
            padding:0 0 0 30px;
            width:174px;
            border-radius: 50px 0 0 50px;
            height:100%;
            vertical-align:top;
            font-size:1rem;
            background-color: #fff;
        }
        a{
            position:absolute;

            top:0;
            bottom:0;
            margin:auto;
            &.search{
                right:30px;
            }
            &.setting{
                right: 80px;
            }
        }
    }
}
.schedule-info{
    @include clearfix;
    padding: 40px 0 10px;
    >li{
        @include clearfix;
        font-weight:400;
        font-size:0.75rem;
        width:140px;
        float:left;
        color:#999;
        span{
            color:#333;
            display:block;
            font-size:1rem;

        }
        &.schedule-info-nav{

            float: right;
            opacity:0.8;
            text-align:right;
            ul{
                li{
                    display:inline-block;
                    &+li{
                        margin-left: 15px;

                    }
                }
            }

        }
    }
}
.schedule-box{
    &.block{
        background: $rec-whiteColor;
        .row{
            padding:3% 12%;
            .column.time{
                width:auto;
                padding:0;
            }
            .column.event{
                width:100%;
                border-left:0;
                padding:0 0 30px 0;
                .img-preview{
                    margin: 20px 0;
                    display: block;
                    @include clearfix;
                    li{
                        float: left;
                        width: 160px;
                        height: 160px;
                        overflow: hidden;
                        &+li{
                            margin-left: 1px;
                        }

                        img{
                            width: 100%;
                        }
                    }
                }

                .event-item{
                    border:1px solid $rec-lineColor;
                    box-shadow: 0 1px 5px 0 rgba(45, 62, 80, 0.12);
                    background: #fff;
                    border-radius: 30px;
                    margin-bottom: 30px;
                    padding:30px 40px;
                    &+.event-item{
                        margin-top:20px;
                    }
                    .schedule-desc{
                        width:80%;
                        display:block;
                        margin:10px 0;
                        font-size:1rem;

                    }
                    .circle-preview{
                        display:block;
                        margin-bottom:10px;
                    }

                    .tag{
                        position:absolute;
                        right:0;
                        bottom:20px;
                    }
                    &:first-child{
                        border-top:1px solid $rec-lineColor;
                    }
                }
            }

        }
    }
    &.calendar{
        padding-left: 12%;
        padding-right: 12%;
        width: 100%;
        @include clearfix;
        .row{
            float: left;
            width: 14.285714%;
            padding: 0%;
            height: 300px;
            padding: 0 10px 0;
            .column{
                width: auto!important;
                &.event{
                    .event-item{
                        font-size: 0.825rem;
                        padding: 10px 0 10px;
                        .schedule-title{
                            width:80%;
                            overflow:hidden;
                            text-overflow:ellipsis;
                            white-space:nowrap;
                        }
                    }
                    .sub-info{
                        .hash-tag{
                            font-size: 0.6rem;
                            font-weight: 400;
                            margin-right: 4px;
                        }
                        .time-hour{
                            display: none;
                        }
                    }
                }
                &.time{
                    width: 100%;
                    font-size: 1.5rem;
                    span{
                        // display: none;
                    }
                }

            }
            &.empity{
                display: block;
            }
        }
    }

    .row{
        &.empity{
            display: none;
        }
        display:block;
        width:100%;
        border-bottom:1px solid $rec-lineColor;
        padding:0 12%;
        .column{
            float:left;
            &.time{
                width:25%;
                height:100%;
                padding: 17px 30px 17px 0;
                font-size:3.5rem;
                span{
                    color:#999;
                    font-size:1rem;
                    padding-left:6px;
                }
            }
            &.event{
                width:75%;
                .img-preview{
                    display: none;
                }

                .sub-info span{
                    &:first-child{
                        margin-right:20px;
                    }
                    font-size:0.75rem;
                    color:#333;
                }

                .event-item{
                    transition:background .4s;
                    position:relative;
                    clear:both;
                    padding:30px 100px 30px 0;
                    color:#333;
                    font-size:1.25rem;
                    display:block;
                    width:100%;
                    height:100%;


                    .schedule-title{
                        display:block;
                        color:$rec-textPrimaryColor;
                        font-weight:400;
                    }
                    .schedule-desc{
                        display:none;
                    }

                    &+.event-item{
                        border-top:1px solid $rec-lineColor;
                    }

                    &:hover{
                        .schedule-title{
                            opacity: 0.6;
                        }
                    }

                    &:before{
                        display:none!important;
                        content:'';
                        width:4px;
                        background:#333;
                        position:absolute;
                        left:0;
                        top:0;
                        height:100%;
                    }

                    &:focus{
                        @include focus;
                    }
                }

            }
        }
    }

}


// gui
.scroll-fixed-item{
    border-bottom: 1px solid $rec-lineColor;
    &.only-on{
        width: 100%!important;
        position: fixed!important;
        top:0!important;
        z-index: 2!important;
    }
    &.on{
        width: 100%;
        position: fixed;
        top:0;
        z-index: 2;
    }
}
.description-left{
    padding-left: 40px;
}
.title-box{
    margin-bottom:6%;
    .sub-info{
        display: block;
        margin-bottom: 1%;
    }
    .title{
        font-size:2.5rem;
        font-weight: 600;
        margin-bottom:1%;
    }
    p{
        font-size:1rem;
        color:#999;
    }
}
.text-box{
    font-size:1rem;
    margin-bottom:6%;
    clear:both;
    overflow:hidden;
    line-height: 1.9;
    p{
        margin-bottom:1%;
        &+ul{
            margin-top:20px;
        }
    }
    li{
        font-size:0.825rem;
        font-weight:400;
        margin-bottom:16px;
        line-height: 1.89;
        padding-left: 30px;
        position: relative;
        &:before{
            display:inline-block;
            content: '';
            vertical-align:middle;
            width:15px;
            height:1px;
            background:$rec-primaryColor;
            margin-right:10px;
            position: relative;
            bottom:2px;
            border-radius:50px;
            position: absolute;
            left:0;
            top:10px;
        }
    }
}
.video-box{
    width:100%;
    position:relative;
    overflow: hidden;
    video{
        width:100%;

    }
    .caption{
        position:absolute;
        left:20px;
        top:20px;
        color:#fff;
        font-weight:400;
        font-size:0.5rem;
    }
    .togglePaly{
        width:200px;
        height:200px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        &:focus{
            box-shadow:none;
        }
        &.active{
            opacity:0;
            &:before{
                background:url('../images/btn-pause.svg');
            }
        }
        &:before{
            width:150px;
            height:150px;
        }
    }
    .reflash{
        &:before{
            background:url('../images/icon/reflash_w.svg');
        }
    }
    .custom-controller{
        width:100%;
        >div{
            position:absolute;
        }

        .progressTime{
            left:24px;
            bottom:24px;
            color:#d9d9d9;
            font-size:1rem;
            line-height:1;
            .duration{
                display:none;
            }
        }

        .progressBar{
            left:0;
            right:0;
            bottom:30px;
            margin:auto;
            width: 80%;
            margin:auto;
            height: 1px;
            background: #000;

            .timeBar{
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $rec-secondaryColor;
                z-index:1;
            }
            .bufferBar {
                position: absolute;
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background-color: #444;
            }
        }

        .progressBtn{
            top:14px;
            right:14px;
        }

    }
    &:hover{
        .togglePaly{
            opacity:1;
        }
        filter: grayscale(100%);
        transition:all 1s;
        &:before{
            content: '';
            transition:all 1s;
            display:block;
            width:100%;
            height:100%;
            background:radial-gradient(#24292e, #24292e);
            position:absolute;
            top:0;
            left:0;
            opacity:0.6;
        }
    }

}
.img-box{
    img{
        max-width:100%;
    }
    &.profile{
        max-width:auto;
        height:600px;
        background:url('../images/1.jpeg') no-repeat right;
        background-size:cover;
    }
    &.timeline{
        max-width:auto;
        height:500px;
        background: url('../images/saksham-gangwar.jpg') center no-repeat;
        background-size:cover;
    }
    &.zoom-in{
        width:100%;
    }
}
.scroll-box{
    height:400px;
    overflow:auto;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &.small{
        max-height:180px;
        margin-top:60px;
    }
}
.scroll-box::-webkit-scrollbar {
    display: none;  // Safari and Chrome
}
.btn{
        display:inline-block;
        background:$rec-primaryColor;
        font-size:0.825rem;
        height:40px;
        line-height:40px;
        padding:0 30px;
        color:#fff;
        text-align:center;
        font-weight:400;
        border-radius:50px;
        border:none;
        transition:all .4s;

        &.big{
            height:72px;
            line-height: 72px;
            padding:0 50px;
            font-size:0.925rem;
            font-weight:600;
        }

        &.signin-btn{
            width:80px;
            height:80px;
            border-radius:50%;
            text-indent:-999em;
            // background:$rec-whiteColor;
            // border:1px solid #cbd6e2;
            position: relative;
            &:before{
                content: '';
                display:block;
                position: absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                margin:auto;
                width:50px;
                height:50px;
                background:url('../images/icon/left_w.svg')
            }
        }

        &:hover{
            background:$rec-secondaryColor;
            position: relative;
            top:-4px;
        }
        &-crud{
            display: inline-block;
            padding: 7px 20px;
            border-radius: 5px;
            color: $rec-whiteColor;
            font-size: 0.75rem;
            background: $rec-primaryColor;
            font-weight: 600;
            &.pdf{

            }
        }
        &:focus{
            @include focus;
            box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
        }
        &:active{
            box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
        }
        &.circle{
            width:100px;
            height:100px;
            border:4px solid #fff;
            text-align: center;
            line-height:90px;
            padding:0;
            background:none;
            font-size:1rem;
            color: #d9d9d9;
        }
        &.not{
            background:transparent;
            color:#666;
            border:none;
            &:hover{
                color:$rec-lineColor;
                transform: scale(1.08);
            }

        }

        &.text{
            background:none;
            // border-bottom:2px solid $rec-secondaryColor;
            text-decoration:underline;
            border-radius:0;
              font-weight:600;
            padding:0 4px;
            font-size:1rem;
            color:$rec-secondaryColor;
            &:hover{
                color:#1c272b;
                // border-bottom:2px solid #1c272b;
            }
            &:after{
                display:none;

            }
        }
    }
.btnico{
        display:inline-block;
        font-size:0;
        text-indent:-999em;
        width:30px;
        height:30px;
        transition:opacity .4s;
        position:relative;
        &.big{
            width:100px;
            height:100px;
            &:before{
                width:98px;
                height:98px;
            }
        }
        &:before{
            content:'';
            display:block;
            width:28px;
            height:28px;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:auto;
        }
        &.crud{
            border:1px solid $rec-lineColor;
            background-image: linear-gradient(#fafbfc 0%, #eff3f6 90%);
            border-radius:50%;
        }
        &.instagram{
            &:before{
                background:url(../images/icon/instagram.svg);
            }

        }

        &.setting{
            &:before{
                background:url(../images/icon/admin.svg);
            }

        }
        &.github{
            &:before{
                background:url(../images/icon/github.svg);
            }

        }
        &.language{
            &:before{
                background:url(../images/icon/global.svg);
            }

        }
        &.login{
            &:before{
                background:url(../images/icon/lock.svg);
            }

        }
        &.mail{
            &:before{
                background:url(../images/icon/mail.svg);
            }

        }
        &.left{
            &:before{
                background:url(../images/icon/left.svg);
            }

        }
        &.left-bottom{
            &:before{
                background:url(../images/icon/left_bottom.svg);
            }

        }
        &.right{
            &:before{
                background:url(../images/icon/right.svg);
            }

        }
        &.top{
            &:before{
                background:url(../images/icon/top.svg);
            }

        }
        &.bottom{
            &:before{
                background:url(../images/icon/bottom.svg);
            }

        }
        &.search{
            &:before{
                background:url(../images/icon/search.svg);
            }

        }
        &.close{
            &:before{
                background:url(../images/icon/close.svg);
            }

        }
        &.close_w{
            &:before{
                background:url(../images/icon/close_w.svg);
            }
        }
        &.back{
            &:before{
                background: url(../images/icon/back.svg);
                opacity:0.3;
            }
        }
        &.play{
            &:before{
                background:url(../images/play.svg);
            }
        }
        &.calendar{
            &:before{
                background:url(../images/icon/date.svg);
            }
        }
        &.add{
            &:before{
                background:url('../images/icon/add.svg');
            }
        }
        &.view{
            &:before{
                background:url('../images/icon/image.svg');
            }
        }
        &.preview{
            &:before{
                background:url('../images/icon/preview-timeline.svg');
            }
            &.board{
                &:before{
                    background:url('../images/icon/preview-board.svg');
                }
            }
        }
        &.user{
            &:before{
                background:url('../images/icon/user.svg');
            }
        }
        &.reflash{
            &:before{
                background:url('../images/icon/reflash.svg');
            }
        }
        &.more{
            &:before{
                background:url('../images/icon/more.svg');
            }
        }

        &:hover{
            opacity:0.5;
            transform: scale(1.1);

        }

        &:focus{
            @include focus;
            border-radius:50%;
            opacity:0.5;
        }
    }
.hash-tag{
        margin-right:20px;
        margin-top:10px;
        display:inline-block;
          font-weight:600;
        // padding:8px 20px;
        // border:1px solid $rec-lineColor;
        border-radius:50px;
        font-size:0.825rem;
        line-height:12px;
        background:#fff;

        &:before{
            content: '';
            display:inline-block;
            width:8px;
            height:8px;
            border-radius:50%;
            vertical-align:middle;
            margin-right:5px;
            margin-bottom:2px;
        }
        &.discuss:before{
            background:$rec-secondaryColor;
        }
        &.schedule:before{
            background:#3dc2dc;
        }
        &.etc:before{
            background:$rec-primaryColor;
        }
    }


// modal
.modal{
        background: #fff;
        min-width:400px;
        max-width: 500px;
        overflow:hidden;
        display:none;
        position:fixed;
        top:50%;
        left:50%;
        z-index:99999;
        word-wrap:break-word;
        transition:top 1s;
        box-shadow: 0 30px 80px -40px rgba(0,0,0,.35), 0 15px 25px -20px rgba(0,0,0,.35);
        border-radius:3px;
        &.view{
            .mCSB_inside > .mCSB_container{
                margin-right: 0!important;
            }
            background: transparent;
            width: 100%;
            min-width: 100%;
            height: 90%;
            top:0!important;
            margin-top: 10%!important;
            left: 0!important;
            margin-left: 0!important;
            .modal-view-body{
                background: #fff;
                padding: 60px;
                margin: 0 8%;
            }
            .modal-controller{
                right: 10%;
            }
        }

        &-header{
            position:relative;
            padding:40px 80px;
        }
        &-controller{
            position:absolute;
            top:10px;
            right:10px;
        }
        &-body{
            padding:40px 80px;
            overflow-y: auto;
            &.signup{
                display:none;
            }
            &-top{
                margin-bottom:40px;
            }
            &-bottom{
                margin-bottom:40px;
            }

        }
        &-footer{
            clear:both;
            overflow:hidden;
            padding:40px 80px;
        }

        &-article{
            text-align:center;
            border-top: 1px solid $rec-lineColor;
            padding-top:20px;
            margin-top:20px;
            .labelguide{
                &:before{
                    display:none;
                }
            }
        }

        &.login{
            max-width:640px;
            textarea{
                padding:0 10px;
                resize:none;
                height: 100px;
                margin-top: 18px;
                line-height: 28px;
                border: none;
                background-attachment: local;
                border:0;
                background-image: linear-gradient(to right, white 0, transparent 0), linear-gradient(to left, white 0, transparent 0), repeating-linear-gradient(white, white 27px, $rec-lineColor 27px, $rec-lineColor 27px, white 28px);
                &.error{
                    background-image: linear-gradient(to right, white 0, transparent 0), linear-gradient(to left, white 0, transparent 0), repeating-linear-gradient(white, white 27px, #e15757 27px, #e15757 27px, white 28px) !important;
                }
            }
            img{
                width:120px;
            }
            .ipt-column{
                width:100%;
                margin-left:0;
                &.gui{
                    &.inner{
                        overflow:hidden;
                        input{
                            border-radius:36px;
                            padding-left:40px;
                            transition:all 0.5s;
                            &:focus{
                                padding-left:10px;
                                +.btnico{
                                    left:-36px;
                                }
                            }
                        }
                        .btnico{
                            left:0;
                            opacity:0.2;
                            transition:all 0.5s;
                        }
                    }
                }
            }
        }
    }
    .dim{
        display:none;
        position:fixed;
        z-index:10;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:rgba(16,23,27,0.9);
        filter:blur(0.4);
        opacity:.95;
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
        filter:alpha(opacity=90);
        -moz-opacity:0.95;
        -khtml-opacity:0.95;
        opacity:0.95;
    }




    // work
    .workCaption{
        width: 40%;
        font-size: 0.825rem;
    }
    .work{
        .scroll-fixed-item{
            padding-top: 200px;
            text-align: center;
            background: #fff;
        }
        &Archive{
            padding: 0 12% 60px;
        }
    }
    .workarchive-list{

        &.block{
            @include clearfix;
            li{
                width: 33.33%;
                float: left;
                padding: 2%;
                &.hide{
                    z-index: 0;
                }
                &:hover{
                    >a{

                    }
                }
                a{
                    span{
                        display: block;
                        margin-top: 20px;
                        font-size: 1.25rem;

                    }
                    .noise{
                        opacity: 1;
                        position: relative;
                        width: 100%;
                        right: auto;
                        left: auto;
                        top: auto;
                        bottom: auto;
                        height: auto;
                    }
                }
                &+li{
                    border-top: none;


                }
            }
        }
        li{
            padding: 60px 0;
            position: relative;
            &.hide{
                position: relative;
                z-index: -2;
            }
            &:hover{
                >a{
                    font-weight: 600;
                    text-shadow: 2px 2px 0 #fff;
                    .noise{
                        opacity: 1;
                        img{
                            transform: scale(1.1);
                        }
                        .date{
                            text-shadow: none;
                        }

                    }

                }
            }
            a{
                display: block;
                width: 100%;
                height: 100%;


                span{
                    font-weight: 400;
                    color: $rec-primaryColor;
                    font-size: 2.3rem;
                }
                .noise{
                    width: 780px;
                    height: 440px;
                    overflow: hidden;
                    opacity: 0;
                    position: fixed;
                    right:16%;
                    top:200px;
                    bottom:0;
                    margin: auto;
                    z-index: -1;
                    // transform: scale(0.8);
                    .date{
                        position: absolute;
                        bottom: 30px;
                        right: 30px;
                        font-size: 3rem;
                        color: #fff;
                        font-weight: 900;
                        z-index: 2;
                    }
                    img{
                        transition: transform 3s ease-in-out;
                    }
                    transition: opacity .4s;
                }
            }
            &+li{
                border-top: 1px solid $rec-primaryColor;


            }
        }
    }


// animation
.loader{
    overflow: hidden;
    width:100%;
    height:100vh;
    position:relative;
    // background: rgba(255,255,255,0.8);
    z-index: 999;
    .load-ico {
      -webkit-animation: rotate-infinite 1s linear infinite;
      border: 4px solid $rec-secondaryColor;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      height: 50px;
      width: 50px;
      position:absolute;
      top:0;
      left:0;
      right:0;
      bottom:0;
      margin:auto;
    }
    .svg-human{
        &:after{
            display:none;
            content: attr(aria-label);
            font-size:12px;
        }
    }
}
.grayscale{
    position:relative;
    overflow:hidden;
    filter: grayscale(100%);
    transition:all 1s;
    &:before{
        content: '';
        transition:all 1s;
        display:block;
        width:100%;
        height:100%;
        background:radial-gradient(#24292e, #24292e);
        position:absolute;
        top:0;
        left:0;
        opacity:0.6;
    }

    &:hover{
        filter: grayscale(0);
        &:before{
            background:transparent;
        }
        &.noise{
            &:after{
                opacity:0;
            }

        }
    }
}
.noise{
    position:relative;
    overflow:hidden;
    &:after{
        transition:all 1s;
        content:'';
        display:block;
        width:100%;
        height:100%;
        position:absolute;
        pointer-events: none;
        -webkit-animation: grainAnimation 1s steps(4) infinite;
        animation: grainAnimation 1s steps(4) infinite;
        background-image: url(../images/noise.png);
        height: 180%;
        left: -40%;
        top: -40%;
        width: 180%;
        z-index: 46;
    }
}
.grain {
    position: fixed;
    pointer-events: none;
    -webkit-animation: grainAnimation 1s steps(4) infinite;
    animation: grainAnimation 1s steps(4) infinite;
    background-image: url(../images/noise.png);
    height: 180%;
    left: -40%;
    top: -40%;
    width: 180%;
    z-index: 46;
}
@-webkit-keyframes grainAnimation{
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    10%{-webkit-transform:translate(-5%,-5%);transform:translate(-5%,-5%)}
    20%{-webkit-transform:translate(-10%,5%);transform:translate(-10%,5%)}
    30%{-webkit-transform:translate(5%,-10%);transform:translate(5%,-10%)}
    40%{-webkit-transform:translate(-5%,15%);transform:translate(-5%,15%)}
    50%{-webkit-transform:translate(-10%,5%);transform:translate(-10%,5%)}
    60%{-webkit-transform:translate(15%,0);transform:translate(15%,0)}
    70%{-webkit-transform:translate(0,10%);transform:translate(0,10%)}
    80%{-webkit-transform:translate(-15%,0);transform:translate(-15%,0)}
    90%{-webkit-transform:translate(10%,5%);transform:translate(10%,5%)}
    100%{-webkit-transform:translate(5%,0);transform:translate(5%,0)}
}
@keyframes grainAnimation{
    0%{-webkit-transform:translate(0,0);transform:translate(0,0)}
    10%{-webkit-transform:translate(-5%,-5%);transform:translate(-5%,-5%)}
    20%{-webkit-transform:translate(-10%,5%);transform:translate(-10%,5%)}
    30%{-webkit-transform:translate(5%,-10%);transform:translate(5%,-10%)}
    40%{-webkit-transform:translate(-5%,15%);transform:translate(-5%,15%)}
    50%{-webkit-transform:translate(-10%,5%);transform:translate(-10%,5%)}
    60%{-webkit-transform:translate(15%,0);transform:translate(15%,0)}
    70%{-webkit-transform:translate(0,10%);transform:translate(0,10%)}
    80%{-webkit-transform:translate(-15%,0);transform:translate(-15%,0)}
    90%{-webkit-transform:translate(10%,5%);transform:translate(10%,5%)}
    100%{-webkit-transform:translate(5%,0);transform:translate(5%,0)}
}
@-webkit-keyframes rotate-infinite {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100%  {
    -webkit-transform: rotate(360deg);
  }
}
.data-load{
    margin-top:40px;
    text-align:center;
    font-size:0.75rem;
    color:#516f90;
    padding-bottom:100px;
    text-indent:5px;
    span{
        display:block;
        margin-top:10px;
    }

}
.progress{
     background:#333;
     width:1px;
     &-position{
         position:fixed;
         left:44px;
         bottom:60px;
         width:1px;
         height:100px;
         background:$rec-lineColor;

     }
}
