*:focus{
    @include focus;
}
.comments{
    textarea{
        width:100%;
        height:80px;
        border:1px solid $lineColor;
    }
    li{
        @include clearfix;
    }
    &>li{
        position: relative;
        padding-bottom:80px;
        @include clearfix;
        &:after{
            content: '';
            display: inline-block;
            width:1px;
            height:100%;
            position: absolute;
            top:0;
            left:25px;
            background:$lineColor;
            z-index:-1;
        }

        .tit{
            float:left;
            width: calc(100% - 100px);
            margin-left:20px;
            font-size:1rem;
            vertical-align: middle;
            line-height:1.8;
        }

    }


    .reply{
        padding-left:100px;

        >li{
            position: relative;
            padding-top:40px;
            &:after{
                content: '';
                display: inline-block;
                width:75px;
                height:1px;
                position: absolute;
                top:64px;
                left:-75px;
                background:$lineColor;
            }
        }


    }
    span.ico{
        float:left;

        vertical-align:middle;
        margin-right:20px;
        text-indent:-999em;
        display: inline-block;
        width:50px;
        height:50px;
        border:1px solid $lineColor;
        background:#fff;
        border-radius:50%;
        position:relative;
    }

}


.tab_lst{
    &:after{
        @include clearfix;
    }
    li{
        float:left;
        margin-right:20px;
        &.on{
            a{
                color:$pointColor;
            }

        }
        a{
              font-weight:400;
            color:$baseColor;

        }
    }
    &.seets{
        margin-top:20px;
        a{

        }
    }
}

.ipt-global-search{
    height:60px;
    line-height:60px;
    .ui-global-search{
        position:absolute;
        right:0;
        border-left:0;
        border-radius:0 50px 50px 0;
        width:calc(100% - 174px);
        height:100%;
    }
    select{
        border:1px solid #cbd6e2;
        padding:0 0 0 30px;
        width:174px;
        border-radius: 50px 0 0 50px;
        height:100%;
        vertical-align:top;

    }
    position:relative;
    label{
        position:absolute;
        right:30px;
        top:0;
        bottom:0;
        margin:auto;
    }

}


.tbl{
    width:100%;

    table{
        width:100%;
        caption{

        }
        colgroup{
            col{
                &.tiny{

                }
                &.small{

                }
                &.medium{

                }
                &.large{

                }
                &.auto{

                }
            }
        }
        tr{


        }
        th,
        td{
            text-align:left;
            padding:10px;
            border-top:1px solid $lineColor;
        }
        th{
              font-weight:400;
        }
        td{
              ;
            color:#999;
        }
    }
    &.scope-col{
        table{
            thead{
                tr{
                    th{

                    }
                    td{

                    }
                }
            }
            tbody{
                tr{
                    th{

                    }
                    td{

                    }
                }
            }
        }
    }
    &.scope-row{
        table{
            tbody{
                tr{
                    th{

                    }
                    td{

                    }
                }
            }
        }
    }
    &.fix{
        th,td{

        }
        th{
            border-top:0;
        }
        .scroll{
            margin-top: -1px;
            height:200px;
            overflow:hidden;
            overflow-y:auto
        }
        .fixed{
            overflow-y:scroll;
            position:relative;
            border-bottom:1px solid $lineColor;
            &:after{
                content:'';
                display:inline-block;
                position:absolute;
                right:0;
                top:0;
                z-index:0;
                width:19px;
                height:100%;
                background:#fff;
            }

        }
    }

    &-filter{
        width:100%;

        table{
            width:100%;
            tbody{
                tr{
                    th,td{
                        padding:10px;

                    }
                    th{
                        text-align:left;
                        label{
                            font-size:12px;
                        }
                    }
                    td{
                        input[type="text"],select,textarea{
                            width:100%;
                        }
                    }
                }
            }
        }
    }



}

.circle-preview{
    display:inline-block;
    vertical-align:middle;
    width:70px;

    height:70px;
    // background:url("../images/297.JPG") center no-repeat #f9f9f9;
    // background-size:cover;
    border-radius:50%;
    // position:absolute;
    // right:20px;
    // top:0;
    // bottom:0;
    // margin:auto;
    // transition:all .4s;
    filter: grayscale(100%);
}

.sign{
    width:200px;
}


.video-box{
    width:100%;
    position:relative;
    video{
        width:100%;
    }

    .caption{
        position:absolute;
        right:20px;
        bottom:20px;
        color:#fff;
        font-size:1rem;
    }
    .play{
        width:200px;
        height:200px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        &:before{
            width:150px;
            height:150px;
        }
    }

}



//
// .guide-info{
//     display:inline-block;
//     width: 15px;
//     height:15px;
//     background:#7c98b6;
//     border-radius:50px;
//     color:#fff;
//       font-weight:400;
//     font-size:0.75rem;
//     text-align:center;
//     line-height:15px;
//     vertical-align:middle;
// }
