    <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>younsang J/O</title>
        <!-- TODO: search engine info -->
        <meta name="robots" content="index,follow" />
        <meta name="keywords" content="youn, portfolio, younsang" />
        <meta name="title" content="youn" />
        <meta name="description" content="younsang's portfolio" />
        <!-- TODO: copyright info -->
        <meta name="author" content="younsang" />
        <meta name="copyright" content="&copy; 2018 younsang Corporation &amp; Thingsoft Corporation. All Rights Reserved." />
        <!-- TODO: mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- TODO: favicon -->
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        <!-- TODO: social url link image -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="youn">
        <meta property="og:url" content="http://www.url.co.kr/">
        <meta property="og:image" content="../assets/images/preview.png">
        <meta property="og:description" content="younsang's workspace"/>
        <!-- TODO: import -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/lib/scrollbar.css">
        <link rel="stylesheet" href="../assets/css/lib/datepicker.css">
        <script src="../assets/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../assets/js/scripts.js"></script>
        <script src="../assets/js/lib/scrollbar.js"></script>
        <script src="../assets/js/lib/datepicker.js"></script>
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->



        <div id="contents">

            <header>
                <div class="top-banner">
                    banner
                </div>
                <!-- <button class="top-banner-control" type="button" name="button">banner</button> -->

                <style media="screen">
                    .modal-body.signup{display:none;}
                </style>

                <aside>
                    <div class="logo"><a href="index.html">Logo</a></div>
                    <div class="snb">
                        <ul>
                            <li><a href="#modalLogin" class="btnico login modalLoad"></a></li>
                        </ul>
                    </div>
                </aside>

                <nav class="gnb">
                    <ul>
                        <li class="human" aria-label=" — about younsang Jo."><a href="human.html">human</a></li>
                        <li class="space" aria-label=" — view workspace."><a href="workachive.html">space</a></li>
                    </ul>
                </nav>

            </header>

            <!-- <div class="progress-position">
                <div class="progress"></div>
            </div> -->

            <div class="loader">
                <!-- <div class="load-ico">

                </div> -->
                <div class="svg-human" aria-label="loading">
                    <svg version="1.1" class="svg-ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                         y="0px" viewBox="0 0 71.8 71.8" style="enable-background:new 0 0 71.8 71.8;" xml:space="preserve">
                    <rect y="0" class="st0" width="71.8" height="71.8"/>
                    <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -25.7774 31.1177)" class="st1" cx="24.7" cy="46.7" rx="17.5" ry="17.5"/>
                    <line class="st2 dash" x1="28.3" y1="43.4" x2="64.1" y2="7.5"/>
                    <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -25.7774 31.1177)" class="st3" cx="24.7" cy="46.7" rx="5" ry="5"/>
                    </svg>
                </div>

            </div>

            <div class="notice">
                This website uses cookies to ensure you get the best experience on our website.
            </div>

<div id="modalLogin" class="modal login">
    <div class="modal-header">
        <img src="../assets/images/logo.svg" alt="">
    </div>

    <div class="modal-body signin">


            <span class="ipt-column gui inner">
                 <input id="id" class="auto" name="id" type="text" placeholder="email and name">
                 <label class="btnico mail"for=""></label>
            </span>

            <span class="ipt-column gui inner">
                <input id="password" class="auto" name="password" type="password" placeholder="password">
                <label class="btnico login"for=""></label>
            </span>
            <p class="labelguide">New to J/O? <a class="btn-signup" href="#">Create an account.</a></p>





    </div>

    <div class="modal-body signup">

        <div class="row forms">
            <div class="column">
                <span class="ipt-column">
                    <label class="reqed" for="name">name</label>
                     <input id="name" class="auto" name="id" type="text" placeholder="email and name">
                </span>
            </div>
            <div class="column">
                <span class="ipt-column">
                    <label class="reqed" for="name">last name</label>
                     <input id="name" class="auto" name="id" type="text" placeholder="email and name">
                </span>
            </div>
        </div>

        <div class="row forms">
            <div class="column">
                <span class="ipt-column">
                    <label class="reqed" for="name">Email address</label>
                     <input id="name" class="auto" name="id" type="text" placeholder="email and name">
                </span>
                <p class="labelguide">Use your work email address if you're using HubSpot CRM for business.</p>
            </div>
        </div>

        <div class="row forms">
            <div class="column">
                <span class="ipt-column">
                    <label class="reqed" for="name">Password</label>
                    <a href="#">Show Password</a>
                     <input id="name" class="auto" name="id" type="text" placeholder="email and name">
                </span>


                <span class="ipt-column">
                    <input class="rdo" id="radio1" type="radio" name="radio_set" checked>
                    <label for="radio1">By creating a HubSpot account</label>
                </span>

                <span class="ipt-column">
                    <input class="rdo" id="radio2" type="radio" name="radio_set">
                    <label for="radio2">By creating a HubSpot account</label>
                </span>

                <span class="ipt-column">
                    <input class="rdo" id="radio3" type="radio" name="radio_set">
                    <label for="radio3">By creating a HubSpot account</label>
                </span>


                <p class="labelguide">Already have an account?
                    <a class="btn-signin" href="#">Sign in.</a>
                </p>


            </div>
        </div>

        <div class="modal-article">
            <p class="labelguide">
                We're committed to your privacy. HubSpot uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our Privacy policy.
            </p>
        </div>






    </div>

    <div class="modal-footer">
        <button type="submit" class="btn signin-btn"><span>sign-in</span></button>


    </div>

    <div class="modal-controller">
        <a href="#" class="btnico close">close</a>
    </div>
</div>




            <div class="container layout-table about">
                <section class="contents layout-table-cell">
                    <div class="content-page">



                        <style media="screen">
                        .carousel {
                            width: 100%;
                            height: 600px;
                            /* display: flex; */
                            overflow: hidden;
                            position: relative;
                        }

                        .carousel-item {
                          /* visibility:visible;
                            display: flex; */
                            width: 100%;
                            height: 100%;
                            background:#fff;
                            position: absolute;
                            z-index: 0;
                          transition: 0.6s all linear;
                        }

                        .carousel-item__info {
                            height: 100%;
                            margin: auto;
                            width: calc(100% - 500px);


                        }

                        .carousel-item__image {
                            width: 400px;
                            height: 100%;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            position:relative;
                            transform: translateX(-100%);
                            transition: 0.6s all ease-in-out;
                        }
                        .carousel-item__image .img-box{
                            height:100%;
                        }


                        .carousel-item__description {
                            transform: translateY(25%);
                            opacity: 0;
                            visibility: hidden;
                            transition: 1s all ease-in-out;
                        }


                        .carousel__nav {
                            position: absolute;
                            right: 0;
                            z-index: 2;
                            background-color: #fff;
                          bottom: 0;
                        }


                        .carousel-item.active{
                           z-index: 1;
                          display: flex;
                          visibility:visible;
                        }

                        .active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
                            transform: translateY(0);
                            opacity: 1;
                            transition: 0.6s all ease-in-out;
                            visibility: visible;
                        }



                        .active .carousel-item__image{
                            transition: 0.6s all ease-in-out;
                            transform: translateX(0);
                        }
                        </style>

                        <script>
                        $(function(){
                          $('.carousel-item').eq(0).addClass('active');
                          var total = $('.carousel-item').length;
                          var current = 0;
                          $('#moveRight').on('click', function(){
                            var next=current;
                            current= current+1;
                            setSlide(next, current);
                          });
                          $('#moveLeft').on('click', function(){
                            var prev=current;
                            current = current- 1;
                            setSlide(prev, current);
                          });
                          function setSlide(prev, next){
                            var slide= current;
                            if(next>total-1){
                             slide=0;
                              current=0;
                            }
                            if(next<0){
                              slide=total - 1;
                              current=total - 1;
                            }
                                   $('.carousel-item').eq(prev).removeClass('active');
                                   $('.carousel-item').eq(slide).addClass('active');
                              setTimeout(function(){

                              },800);



                            console.log('current '+current);
                            console.log('prev '+prev);
                          }
                        });
                        </script>


                        <div class="row">

                            <div class="carousel">

                              <div class="carousel__nav">
                                <button type="button" id="moveLeft" class="carousel__arrow btnico left">left</button>
                                <button type="button" id="moveRight" class="carousel__arrow btnico right" >right</button>
                              </div>


                              <div class="carousel-item carousel-item--1">
                                <div class="carousel-item__image">
                                    <div class="img-box profile noise">
                                        <div class="svg-human" aria-label="Human">

                                            <svg version="1.1" class="svg-ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                            	 y="0px" viewBox="0 0 71.8 71.8" style="enable-background:new 0 0 71.8 71.8;" xml:space="preserve">
                                            <rect y="0" class="st0" width="71.8" height="71.8"/>
                                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -25.7774 31.1177)" class="st1" cx="24.7" cy="46.7" rx="17.5" ry="17.5"/>
                                            <line class="st2 dash" x1="28.3" y1="43.4" x2="64.1" y2="7.5"/>
                                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -25.7774 31.1177)" class="st3" cx="24.7" cy="46.7" rx="5" ry="5"/>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item__info carousel-item__description">
                                  <div class="carousel-item__container">

                                      <div class="title-box carousel-item__title">
                                          <h2>Human — younsang Jo</h2>
                                          <p>Constellation : Cancer | Since 1992.7.15</p>
                                      </div>

                                      <div class="scroll-box mCustomScrollbar">
                                          <div class="text-box">
                                              <p class="title-caption">
                                                  Understanding of short-term experience :
                                              </p>

                                              <ul>
                                                  <li>SGA(ICT service) ecommerce team, 2018</li>
                                                  <li>SBS Academy seminar : The designer to develop is the developer to design, 2017</li>
                                                  <li>Uneedcomms growth hacking group, 2016</li>
                                                  <li>IL design designer, 2015</li>

                                              </ul>
                                          </div>

                                          <div class="text-box">
                                              <p class="title-caption">
                                                  Awards and Exhibition, efforts for creation :
                                              </p>

                                              <ul>
                                                  <li>Blue Awards ,excellence award, 2017</li>
                                                  <li>Samwonpaper Gallery exhibition &lt; Un-Official &gt;, 2016</li>
                                                  <li>19th Seoil University Graduate Exhibition : Resonance, 2014</li>
                                                  <li>7th International cyber design trend concours, 2014</li>
                                                  <li>19th International design trend concours, 2014</li>
                                                  <li>19th International design trend concours, 2011</li>
                                                  <li>40th KDC concours, 2011</li>
                                              </ul>
                                              <img class="sign" src="../assets/images/sign.png" alt="sign">
                                          </div>

                                          <div class="text-box">
                                              <ul class="icon-list">
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/adobe.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/html5.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/css3.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/sass.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/javascript.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/es6.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/nodejs.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/jquery.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/mongodb.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/vue.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/github.svg" alt="">
                                                  </li>
                                                  <li class="icon-item ">
                                                      <img src="../assets/images/logo/slack.svg" alt="">
                                                  </li>
                                              </ul>

                                              <div class="box-align">
                                                  <button class="btn big" type="button">Get J/C doc start</button>
                                              </div>

                                          </div>


                                      </div>


                                  </div>
                                </div>
                              </div>
                              <div class="carousel-item carousel-item--2">
                                <div class="carousel-item__image">
                                    <div class="img-box timeline noise">
                                        <div class="svg-human" aria-label="Human">

                                            <svg version="1.1" class="svg-ico" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                                 y="0px" viewBox="0 0 71.8 71.8" style="enable-background:new 0 0 71.8 71.8;" xml:space="preserve">
                                            <rect y="0" class="st0" width="71.8" height="71.8"/>
                                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -25.7774 31.1177)" class="st1" cx="24.7" cy="46.7" rx="17.5" ry="17.5"/>
                                            <line class="st2 dash" x1="28.3" y1="43.4" x2="64.1" y2="7.5"/>
                                            <ellipse transform="matrix(0.7071 -0.7071 0.7071 0.7071 -25.7774 31.1177)" class="st3" cx="24.7" cy="46.7" rx="5" ry="5"/>
                                            </svg>
                                        </div>

                                    </div>
                                </div>
                                <div class="carousel-item__info carousel-item__description">
                                  <div class="carousel-item__container">

                                      <div class="title-box">
                                          <h2>Human — younsang Jo</h2>
                                          <p>Constellation : Cancer | Since 1992.7.15</p>
                                      </div>

                                      <div class="scroll-box mCustomScrollbar ">
                                          <div class="text-box">
                                              <p>
                                                  I worked as a designer. after, I turned to work as a 🤖 front-end developer.<br>
                                                  I always would like to meet new people to build fresh relationships,<br>
                                                  and I want all the projects that I joined with those people to be sexy. 🌕
                                              </p>
                                          </div>


                                          <div class="row">
                                              <div class="column">
                                                  <span class="ipt-column">
                                                      <label class="reqed" for="name">Email address</label>
                                                       <input id="name" class="auto" name="id" type="text" placeholder="email and name">
                                                  </span>
                                              </div>
                                          </div>

                                          <div class="row">
                                              <div class="column">
                                                  <span class="ipt-column">
                                                      <label class="reqed" for="name">Title</label>
                                                       <input id="name" class="auto" name="id" type="text" placeholder="email and name">
                                                  </span>
                                              </div>
                                          </div>

                                          <div class="row">
                                              <div class="column">
                                                  <span class="ipt-column">
                                                      <label class="reqed" for="name">Memo</label>
                                                      <textarea name="name" rows="8" cols="80"></textarea>
                                                  </span>
                                              </div>
                                          </div>

                                          <div class="box-align">
                                              <button class="btn big" type="button">send mail</button>
                                          </div>
                                      </div>



                                    </div>
                                </div>
                              </div>


                            </div>


                        </div>
                    </div>

                </section>
            </div>





    <div id="modalContact" class="modal contact">
    <div class="modal-header">
        <!-- <p><b>Contact</b></p> -->
    </div>

    <div class="modal-body">
        <img src="../assets/images/helper.jpg" alt="">
        <p>Send a message by email if you have any questions or want to know about me.</p>

        <div class="form_container">
            <div class="form_fields">

                <div class="form-row">
                    <input id="name" name="name" type="text" placeholder="write your name" required="" aria-required="true" class="error" aria-invalid="true">
                </div>

                <div class="form-row">
                    <input id="email" name="email" type="email" placeholder="write reception your e-mail" required="" aria-required="true" class="error" aria-invalid="true">
                </div>

                <div class="form-row">
                    <textarea name="message" id="message" rows="3" placeholder="write message" required="" aria-required="true"></textarea>
                </div>

            </div>

        </div>
    </div>

    <div class="modal-footer auto">
        <button type="submit" class="btn btn-primary btn_submit"><span>Send</span></button>
        <button type="submit" class="btn not btn_submit"><span>Send</span></button>
    </div>

    <div class="modal-controller">
        <a href="#" class="btnico close">close</a>
    </div>
</div>
<footer class="shadow-ui">
    <div class="fnb">
        <ul>
            <li><a href="https://www.instagram.com/" target="_blank" title="younsang instagram ( new page )" class="btnico instagram">instagram</a></li>
            <li><a href="https://github.com/Joyounsang" target="_blank" title="younsang github ( new page )" class="btnico github">github</a></li>
        </ul>

        <!-- <div>
            <img class="circle-preview" src="../assets/images/helper.jpg" alt="">
            <p><a class="ani" href="license.html">license</a> and send mail to: younsang.jo@gmail.com <br>&copy; 2018 younsang.</p>
        </div> -->
        <!-- <a href="#modalContact" class="btn-modal"> contact</a> -->

    </div>
</footer>


<div class="footer">
    <small>© 2018 younsang.</small>
    <a class="ani" href="license.html">J/O flow</a> and
     <a href="mailto: younsang.jo@gmail.com">Contact</a>

</div>

</div> <!-- wrapper e -->



<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>

