
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>younsang J/O</title>
        <!-- TODO: search engine info -->
        <meta name="robots" content="index,follow" />
        <meta name="keywords" content="youn, portfolio, younsang" />
        <meta name="title" content="youn" />
        <meta name="description" content="younsang's portfolio" />
        <!-- TODO: copyright info -->
        <meta name="author" content="younsang" />
        <meta name="copyright" content="&copy; 2018 younsang Corporation &amp; Thingsoft Corporation. All Rights Reserved." />
        <!-- TODO: mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- TODO: favicon -->
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        <!-- TODO: social url link image -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="youn">
        <meta property="og:url" content="http://www.url.co.kr/">
        <meta property="og:image" content="../assets/images/preview.png">
        <meta property="og:description" content="younsang's workspace"/>
        <!-- TODO: import -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">
        <link rel="stylesheet" href="../assets/css/lib/scrollbar.css">
        <link rel="stylesheet" href="../assets/css/lib/datepicker.css">
        <script src="../assets/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../assets/js/scripts.js"></script>
        <script src="../assets/js/lib/scrollbar.js"></script>
        <script src="../assets/js/lib/datepicker.js"></script>
        <!-- <script src="../assets/js/lib/plugin.js"></script> -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="sns-messege">
            <p>It is so sexy thing that
            millions of people on the<br> Earth can see the designs and ideas which I made.</p>
        </div>

        <div id="contents">

            <header class="clearfix">
                <aside>
                    <div class="logo"><a href="index.html">Logo</a></div>


                    <p class="mobile-nav">
                        human
                    </p>
                    <div class="snb">
                        <ul>
                            <li><a href="login.html" class="btnico login"></a></li>
                        </ul>
                    </div>
                </aside>

                <nav class="gnb">
                    <ul>
                        <li class="human" aria-label=" — about younsang Jo."><a href="human.html">human</a></li>
                        <li class="space" aria-label=" — view workspace."><a href="workspace.html">space</a></li>
                        <!-- <li class="time" aria-label=" — developer scheduler."><a href="timeline.html">time</a></li> -->
                        <li class="and"><a href="#">and</a></li>
                    </ul>
                </nav>

                <!-- <div class="scroll-progress-wrap">
                    <div class="scroll-progress" id="progress"><p>0%</p></div>
                </div> -->





                <div class="content-page">




                    <!-- <div class="navigation-box">
                        <div class="navigation-box-inner">
                            <nav id="gnb">
                                <ul>
                                    <li><a href="index.html" class="link">space</a></li>
                                    <li><a href="timeline.html" class="link">time</a></li>
                                    <li><a href="about.html" class="link">human</a></li>
                                </ul>
                            </nav>

                            <div class="addres-info">
                                <p>younsang.jo@gmail.com</p>
                                <p>+82 10 4123 7236</p>
                                <address>
                                    yangcheongu sinjeonglo 14, 1 <br>Seoul, Korea
                                </address>
                            </div>

                            <nav id="snb">
                                <ul class="clearfix">
                                    <li><a href="" id="globalSearch" class="ico search">Search</a></li>
                                    <li><a href="" id="signIn" class="sign-in">Sign in</a></li>
                                    <li><a href="" id="myPage" class="my-page">mypage</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
                </div>
            </header>
            <div id="modalLogin" class="modal login">
    <div class="modal-header">
        <!-- <p><b>Contact</b></p> -->
    </div>

    <div class="modal-body">

            <div class="modal-body-top">
                <img class="login" src="../assets/images/logo.svg" alt="">
                <p>Send a message by email if you have <br>any questions or want to know about me.</p>
            </div>

            <div class="modal-body-bottom">
                <div class="ipt-box ico id">
                    <label for="id">id</label>
                     <input id="id" name="id" type="text" placeholder="write your name">
                </div>

                 <div class="ipt-box ico password">
                     <label for="password">password</label>
                     <input id="password" name="password" type="password">
                 </div>
            </div>







    </div>

    <div class="modal-footer auto">
        <button type="submit" class="btn point"><span>sign-in</span></button>
        <button type="submit" class="btn not"><span>sign-up</span></button>
    </div>

    <!-- <aside class="modal-aside">
        <ul>
            <li>ios : iosiosiosiosiosiosiosiosiosios</li>
            <li>android : iosiosiosiosiosiosiosiosiosios</li>
        </ul>
    </aside> -->

    <div class="modal-controller">
        <a href="#" class="btnico close">close</a>
    </div>
</div>

            <div id="loader"></div>


    <main role="main" class="main">
        <section class="contents layout-table movie-frame noise">
            <div class="content-page layout-table-cell">
                <div class="row main-article">
                    <div class="main-grapics">
                        <ul class="">
                            <li class="svg-rel">
                                <img src="../assets/images/logo_w.svg" alt="">
                            </li>
                        </ul>
                    </div>
                    <div class="main-text-wrap">
                        <div class="main-text">
                        “We'll find a way, we always have.”
                        <!-- <h1>Another Universe <br>Growth Hacker <br>Sexy World wide space</h1>
                       It is so sexy thing that
                       millions of people on the Earth can see the
                       designs and ideas which I made.🤖❤️ -->

                       </div>

                        <!-- <span class="main-date"></span> -->
                    </div>

                </div>
                <div class="main-video">
                    <video poster="" id="" playsinline autoplay muted loop>
                        <source src="../assets/video/main.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </section>
        <section class="main-heading layout-table">
            <p class="layout-table-cell">
                <!-- Jo, OK,  -->
                discussion for hacking the user experience.


                <a class="btnico bottom down-scroll" href="#">view</a>
            </p>
            <!-- <img src="../assets/images/logo.svg" alt=""> -->

           <!-- It is so sexy thing that
           millions of people on the Earth can see the
           designs and ideas which I made.🤖❤️ -->
        </section>
    </main>



    <section class="contents">

        <!-- <div class="content-page">
            <div class="title-box">
                <h2>Time — ㄴㅇㄹㅇㄴ럳재ㅑ럳재ㅑ렂대ㅑ러ㅐ</h2>
                <p>scheduler — daily, discuss, blur blur...</p>
                <p>
                    Exact times, locations, speakers, and a livestream filter will be added closer to I/O,<br> as well as the ability to customize your own schedule by saving events / reserving seats for sessions (attendees only).

                </p>
            </div>
        </div> -->

        <div class="timeline-top topstick content-page">
            <div class="ipt-box">
                <div class="ipt-model-ico">
                    <label for="globalCat" class="btnico search">검색</label>
                    <select id="globalCat" name="">
                        <option value="">all categories</option>
                        <option value="">A categories</option>
                    </select>

                    <input id="globalSearch" class="ui-global-search" type="search" placeholder="global search...">
                    <label for="globalSearch" class="btnico search">검색</label>
                    <div class="search-log">
                        <ul>
                            <li><a href="#">dafsafsdaf</a></li>
                            <li><a href="#">dafsafsdaf</a></li>
                            <li><a href="#">dafsafsdaf</a></li>
                            <li><a href="#">dafsafsdaf</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <ul class="schedule-guide">
                <li><span>24</span>all </li>
                <li><span>4</span>work</li>
                <li> <span>20</span>discuss</li>
                <li><span>8</span>picture</li>
                <li><span>1</span>today</li>
                <li class="crud-control">
                    <ul>
                        <li>
                            <a href="#" class="btn btn-calendar calendar">calendar view</a>
                        </li>
                        <li>
                            <a href="#" class="btn board-toggle view">simple view</a>
                        </li>
                        <li>
                            <a href="boardWrite.html" class="btn write">write</a>
                        </li>

                    </ul>
                </li>

            </ul>

            <div class="calendar-box">
                calendar
            </div>
        </div>


        <div class="crue-list">
            <div class="schedule-box">

                <div class="row clearfix">
                    <div class="columm time">
                        <span>5 / </span>27
                    </div>
                    <div class="columm event">
                        <a href="boardView.html" class="event-item">
                            <div class="info">
                                <div class="like">
                                    <input name="like" id="like" data-product-id="333" type="checkbox" />
                                    <label for="like" data-hover-text="like. book mark">
                                        <svg xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" version="1.1" x="0px" y="0px" viewBox="0 0 100 100">
                                            <g transform="translate(0,-952.36218)"><path style="color:#000000;enable-background:accumulate;" d="m 34.166665,972.36218 c -11.41955,0 -19.16666,8.91891 -19.16666,20.27029 0,19.45943 15,27.56753 35,39.72973 20.00001,-12.1622 34.99999,-20.2703 34.99999,-39.72973 0,-11.35137 -7.7471,-20.27029 -19.16665,-20.27029 -7.35014,0 -13.39148,4.05405 -15.83334,6.48647 -2.44185,-2.43241 -8.48319,-6.48647 -15.83334,-6.48647 z" fill="transparent" id="heart-path" stroke="#333" stroke-width="5" marker="none" visibility="visible" display="inline" overflow="visible"/></g>
                                        </svg>
                                    </label>
                                </div>
                                <span class="circle-preview noise"></span>

                                <p>Younsang Jo Key note</p>

                                <p class="schedule-desc">
                                    Exact times, locations, speakers, and a livestream filter will be added closer to I/O,as well as the ability to customize your own schedule by saving events / reserving seats for sessions (attendees only)

                                </p>
                                <span class="sub-info">
                                    <span>18:20</span>
                                    <span class="hash-tag design">design</span>
                                    <span class="hash-tag develop">develop</span>
                                    <span class="hash-tag etc">etc</span>
                                </span>

                            </div>


                        </a>
                        <a href="boardView.html" class="event-item">
                            <div class="info">
                                <span class="circle-preview noise"></span>
                                <p>and a livestream filter will</p>
                                <p class="schedule-desc">
                                    Exact times, locations, speakers, and a livestream filter will be added closer to I/O,as well as the ability to customize your own schedule by saving events / reserving seats for sessions (attendees only)
                                </p>
                                <span class="sub-info">
                                    <span>18:20</span>
                                    <span class="hash-tag design">design</span>
                                    <span class="hash-tag develop">develop</span>
                                    <span class="hash-tag etc">etc</span>
                                </span>
                            </div>


                        </a>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="columm time">
                        <span>5 / </span>27
                    </div>
                    <div class="columm event">
                        <a href="boardView.html" class="event-item">
                            <div class="info">
                                <span class="circle-preview noise"></span>
                                <p>sessions</p>
                                <p class="schedule-desc">
                                    Exact times, locations, speakers, and a livestream filter will be added closer to I/O,as well as the ability to customize your own schedule by saving events / reserving seats for sessions (attendees only)
                                </p>
                                <span class="sub-info">
                                    <span>18:20</span>
                                    <span class="hash-tag design">design</span>
                                    <span class="hash-tag develop">develop</span>
                                    <span class="hash-tag etc">etc</span>
                                </span>
                            </div>


                        </a>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="columm time">
                        <span>5 / </span>27
                    </div>
                    <div class="columm event">
                        <a href="boardView.html" class="event-item">
                            <div class="info">
                                <span class="circle-preview noise"></span>
                                <p>sessions</p>
                                <p class="schedule-desc">
                                    Exact times, locations, speakers, and a livestream filter will be added closer to I/O,as well as the ability to customize your own schedule by saving events / reserving seats for sessions (attendees only)
                                </p>
                                <span class="sub-info">
                                    <span>18:20</span>
                                    <span class="hash-tag design">design</span>
                                    <span class="hash-tag develop">develop</span>
                                    <span class="hash-tag etc">etc</span>
                                </span>
                            </div>


                        </a>

                    </div>
                </div>

                <div class="row clearfix">
                    <div class="columm time">
                        <span>5 / </span>27
                    </div>
                    <div class="columm event">
                        <a href="boardView.html" class="event-item">
                            <div class="info">
                                <span class="circle-preview noise"></span>
                                <p>sessions</p>
                                <p class="schedule-desc">
                                    Exact times, locations, speakers, and a livestream filter will be added closer to I/O,as well as the ability to customize your own schedule by saving events / reserving seats for sessions (attendees only)
                                </p>
                                <span class="sub-info">
                                    <span>18:20</span>
                                    <span class="hash-tag design">design</span>
                                    <span class="hash-tag develop">develop</span>
                                    <span class="hash-tag etc">etc</span>
                                </span>
                            </div>


                        </a>

                    </div>
                </div>

            </div>
        </div>





    </section>

<div id="modalContact" class="modal contact">
    <div class="modal-header">
        <!-- <p><b>Contact</b></p> -->
    </div>

    <div class="modal-body">
        <img src="../assets/images/helper.jpg" alt="">
        <p>Send a message by email if you have any questions or want to know about me.</p>

        <div class="form_container">
            <div class="form_fields">

                <div class="form-row">
                    <input id="name" name="name" type="text" placeholder="write your name" required="" aria-required="true" class="error" aria-invalid="true">
                </div>

                <div class="form-row">
                    <input id="email" name="email" type="email" placeholder="write reception your e-mail" required="" aria-required="true" class="error" aria-invalid="true">
                </div>

                <div class="form-row">
                    <textarea name="message" id="message" rows="3" placeholder="write message" required="" aria-required="true"></textarea>
                </div>
              
            </div>

        </div>
    </div>

    <div class="modal-footer auto">
        <button type="submit" class="btn btn-primary btn_submit"><span>Send</span></button>
        <button type="submit" class="btn not btn_submit"><span>Send</span></button>
    </div>

    <div class="modal-controller">
        <a href="#" class="btnico close">close</a>
    </div>
</div>
<footer class="shadow-ui">
    <div class="fnb">
        <ul>
            <!-- <li><a href="#" class="btnico mail">mail to</a></li> -->
            <li><a href="https://www.instagram.com/" target="_blank" title="younsang instagram ( new page )" class="btnico instagram">instagram</a></li>
            <li><a href="https://github.com/Joyounsang" target="_blank" title="younsang github ( new page )" class="btnico github">github</a></li>
            <li><a href="adminMain.html" class="btnico setting">admin</a></li>

        </ul>

        <div>
            <img class="circle-preview" src="../assets/images/helper.jpg" alt="">
            <p><a href="license.html">license</a> and <a href="dashboard.html">lab</a> <a href="#modalContact" class="btn-modal"> younsang Jo send mail to: contact</a><br>&copy; 2018 younsang.</p>
        </div>



        <!-- <ul>

            <li><a href="license.html">license</a></li>
            <li><a href="dashboard.html">lab</a></li>

        </ul>
        <ul>
            <li><a href="#" title="korea" class="btnico language">language</a></li>
            <li><small>&copy; 2018 younsang.</small></li>
        </ul> -->
    </div>
</footer>




</div> <!-- wrapper e -->








<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>

