
    <!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>younsang J/O</title>
        <!-- TODO: search engine info -->
        <meta name="robots" content="index,follow" />
        <meta name="keywords" content="youn, portfolio, younsang" />
        <meta name="title" content="youn" />
        <meta name="description" content="younsang's portfolio" />
        <!-- TODO: copyright info -->
        <meta name="author" content="younsang" />
        <meta name="copyright" content="&copy; 2018 younsang Corporation &amp; Thingsoft Corporation. All Rights Reserved." />
        <!-- TODO: mobile -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <!-- TODO: favicon -->
        <link rel="icon" href="../favicon.ico" type="image/x-icon" />
        <!-- TODO: social url link image -->
        <meta property="og:type" content="website">
        <meta property="og:title" content="youn">
        <meta property="og:url" content="http://www.url.co.kr/">
        <meta property="og:image" content="../assets/images/preview.png">
        <meta property="og:description" content="younsang's workspace"/>
        <!-- TODO: import -->
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/responsive.css">
        <link rel="stylesheet" href="../assets/css/lib/scrollbar.css">
        <link rel="stylesheet" href="../assets/css/lib/datepicker.css">
        <script src="../assets/js/vendor/jquery-3.2.1.min.js"></script>
        <script src="../assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="../assets/js/scripts.js"></script>
        <script src="../assets/js/lib/scrollbar.js"></script>
        <script src="../assets/js/lib/datepicker.js"></script>
        <!-- <script src="../assets/js/lib/plugin.js"></script> -->
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <div class="sns-messege">
            <p>It is so sexy thing that
            millions of people on the<br> Earth can see the designs and ideas which I made.</p>
        </div>

        <div id="contents">

            <header class="clearfix">
                <aside>
                    <div class="logo"><a href="index.html">Logo</a></div>


                    <p class="mobile-nav">
                        human
                    </p>
                    <div class="snb">
                        <ul>
                            <li><a href="login.html" class="btnico login"></a></li>
                        </ul>
                    </div>
                </aside>

                <nav class="gnb">
                    <ul>
                        <li class="human" aria-label=" — about younsang Jo."><a href="human.html">human</a></li>
                        <li class="space" aria-label=" — view workspace."><a href="workspace.html">space</a></li>
                        <!-- <li class="time" aria-label=" — developer scheduler."><a href="timeline.html">time</a></li> -->
                        <li class="and"><a href="#">and</a></li>
                    </ul>
                </nav>

                <!-- <div class="scroll-progress-wrap">
                    <div class="scroll-progress" id="progress"><p>0%</p></div>
                </div> -->





                <div class="content-page">




                    <!-- <div class="navigation-box">
                        <div class="navigation-box-inner">
                            <nav id="gnb">
                                <ul>
                                    <li><a href="index.html" class="link">space</a></li>
                                    <li><a href="timeline.html" class="link">time</a></li>
                                    <li><a href="about.html" class="link">human</a></li>
                                </ul>
                            </nav>

                            <div class="addres-info">
                                <p>younsang.jo@gmail.com</p>
                                <p>+82 10 4123 7236</p>
                                <address>
                                    yangcheongu sinjeonglo 14, 1 <br>Seoul, Korea
                                </address>
                            </div>

                            <nav id="snb">
                                <ul class="clearfix">
                                    <li><a href="" id="globalSearch" class="ico search">Search</a></li>
                                    <li><a href="" id="signIn" class="sign-in">Sign in</a></li>
                                    <li><a href="" id="myPage" class="my-page">mypage</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div> -->
                </div>
            </header>
            <div id="modalLogin" class="modal login">
    <div class="modal-header">
        <!-- <p><b>Contact</b></p> -->
    </div>

    <div class="modal-body">

            <div class="modal-body-top">
                <img class="login" src="../assets/images/logo.svg" alt="">
                <p>Send a message by email if you have <br>any questions or want to know about me.</p>
            </div>

            <div class="modal-body-bottom">
                <div class="ipt-box ico id">
                    <label for="id">id</label>
                     <input id="id" name="id" type="text" placeholder="write your name">
                </div>

                 <div class="ipt-box ico password">
                     <label for="password">password</label>
                     <input id="password" name="password" type="password">
                 </div>
            </div>







    </div>

    <div class="modal-footer auto">
        <button type="submit" class="btn point"><span>sign-in</span></button>
        <button type="submit" class="btn not"><span>sign-up</span></button>
    </div>

    <!-- <aside class="modal-aside">
        <ul>
            <li>ios : iosiosiosiosiosiosiosiosiosios</li>
            <li>android : iosiosiosiosiosiosiosiosiosios</li>
        </ul>
    </aside> -->

    <div class="modal-controller">
        <a href="#" class="btnico close">close</a>
    </div>
</div>

            <div id="loader"></div>




    <div class="container normal work noise">
        <section class="contents">
            <div class="content-page">

                <div class="title-box">
                    <a href="#" class="btnico back">back</a>
                    <h2>Space — all projects Achive <span class="workArchiveCount"></span></h2>
                </div>

                <div class="workArchive">
                    <ul class="workList"></ul>
                </div>

            </div>
        </section>
    </div>
    <script src="../assets/js/dataload_list.js"></script>
        <div id="modalContact" class="modal contact">
    <div class="modal-header">
        <!-- <p><b>Contact</b></p> -->
    </div>

    <div class="modal-body">
        <img src="../assets/images/helper.jpg" alt="">
        <p>Send a message by email if you have any questions or want to know about me.</p>

        <div class="form_container">
            <div class="form_fields">

                <div class="form-row">
                    <input id="name" name="name" type="text" placeholder="write your name" required="" aria-required="true" class="error" aria-invalid="true">
                </div>

                <div class="form-row">
                    <input id="email" name="email" type="email" placeholder="write reception your e-mail" required="" aria-required="true" class="error" aria-invalid="true">
                </div>

                <div class="form-row">
                    <textarea name="message" id="message" rows="3" placeholder="write message" required="" aria-required="true"></textarea>
                </div>
              
            </div>

        </div>
    </div>

    <div class="modal-footer auto">
        <button type="submit" class="btn btn-primary btn_submit"><span>Send</span></button>
        <button type="submit" class="btn not btn_submit"><span>Send</span></button>
    </div>

    <div class="modal-controller">
        <a href="#" class="btnico close">close</a>
    </div>
</div>
<footer class="shadow-ui">
    <div class="fnb">
        <ul>
            <!-- <li><a href="#" class="btnico mail">mail to</a></li> -->
            <li><a href="https://www.instagram.com/" target="_blank" title="younsang instagram ( new page )" class="btnico instagram">instagram</a></li>
            <li><a href="https://github.com/Joyounsang" target="_blank" title="younsang github ( new page )" class="btnico github">github</a></li>
            <li><a href="adminMain.html" class="btnico setting">admin</a></li>

        </ul>

        <div>
            <img class="circle-preview" src="../assets/images/helper.jpg" alt="">
            <p><a href="license.html">license</a> and <a href="dashboard.html">lab</a> <a href="#modalContact" class="btn-modal"> younsang Jo send mail to: contact</a><br>&copy; 2018 younsang.</p>
        </div>



        <!-- <ul>

            <li><a href="license.html">license</a></li>
            <li><a href="dashboard.html">lab</a></li>

        </ul>
        <ul>
            <li><a href="#" title="korea" class="btnico language">language</a></li>
            <li><small>&copy; 2018 younsang.</small></li>
        </ul> -->
    </div>
</footer>




</div> <!-- wrapper e -->








<!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
<script>
window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
ga('create','UA-XXXXX-Y','auto');ga('send','pageview')
</script>
<script src="https://www.google-analytics.com/analytics.js" async defer></script>
</body>
</html>

